.ChocolateBox {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  width : 70%;
  justify-content: center;
  padding: 10px 40px 20px;
  text-align: center;
  margin: 30px 0px;
}

.ChocolateBox h2 {
  margin: 0px;
}

.ChocolateBox h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.div-chocobox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 60%;
  max-width: 500px;
  height: 300px;
  border: 10px solid rgb(78, 53, 39);
  border-radius: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(90, 64, 50);
}

.box-square {
  width: 22%;
  height: auto;
  border-radius: 10px;
  border: 3px solid rgb(78, 55, 40);;
  margin : 3px;
}

.box-square.Black {
  background-color : #2a1b0e ;
}

.box-square.Milk {
  background-color : #825a39 ;
}

.box-square.Pistachio {
  background-color : #94ac54 ;
}

.box-square.Raspberry {
  background-color : #ce5871 ;
}

button.eat-btn {
  cursor: pointer;
  padding: 10px 23px;
  border-radius: 5px;
  border: 2px solid rgb(25, 25, 25, 0.1);
  margin: 20px auto;
  width: fit-content;
  font-weight: bold;
  font-family: inherit;
}
